body {margin:20%;padding:0}

@media (orientation: landscape) {
    img {
        max-width:75%;
        height:auto;

    }
}


@media (orientation: portrait) {
  img {
    max-width:100%;
    height:auto;

    }
}

