/*desktop*/
@media (orientation: landscape) {
    img {max-width:100%; height:auto;}
    body {margin-left:20%; margin-right:20%; padding:0}
}

/*mobile*/
@media (orientation: portrait) {
    img { max-width:100%; height:auto;}
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0x09{background-color:#9b9b9b;text-align:left;vertical-align:top}
.tg .tg-zuva{background-color:#c0c0c0;text-align:left}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-y6fn{background-color:#c0c0c0;text-align:left;vertical-align:top}
.tg .tg-s268{text-align:left}
