/*desktop*/
@media (orientation: landscape) {
    img {
        max-width:100%;
        height:auto;

    }
    body {margin:20%;padding:0}

}

/*mobile*/
@media (orientation: portrait) {
    img { max-width:100%; height:auto;}
}

